.custom-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
  margin: 10px;
  width: 300px; 
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.custom-card img {
  max-height: 275px; 
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: transform 0.3s ease;
}

.custom-card:hover img {
  transform: scale(1.1);
}

.custom-card .card-body {
  padding: 15px;
}

.custom-card .card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px; 
}

.custom-card .card-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px; 
}

.custom-card .card-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.custom-card .btn {
  width: 100%;
}


.footer {
  margin: auto;
  margin-top: 38px;
}
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
